<h1>Todo Lists</h1>


<% @todo_lists.each do |todo_list| %>
  <div class="todo_list">

    <% all_done = true %>
    <% todo_list.todo_items.each do |todo_item| %>
      <% if not todo_item.done %>
        <% all_done = false %>
      <% end %>
    <% end %>

    <% if all_done %>
      <span class="todo_list_completed_link"><%= todo_list.list_due_date%></span>
    <% else %>
      <span class="todo_list_incomplete_link"><%= todo_list.list_due_date %></span>
    <% end %>

    <%= link_to "#{todo_list.list_name}", todo_list, class: "todo_list_link" %>

  </div>
<% end %>

<br>

<%= link_to 'New Todo List', new_todo_list_path %>
