// Place all the styles related to the StockQuotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.special_link {
	text-decoration: none;
	color: blue;
}

table {
	border-collaps: collapse;
}

td {
	padding: 12px;
}

.even {
	background-color: #ccffcc;
}

.odd {
	background-color: #f0f8ff;
}
