<p id="notice"><%= notice %></p>

<p>
  <strong>Task Title:</strong>
  <%= @todo_item.task_title %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @todo_item.due_date %>
</p>

<!-- todo: need edit, back from todo_list show -->